<section class="card">
  <!-- The contents of this card links to the gallery page using the gallery ID -->
  <a href="/gallery/{{id}}">
    <!-- The card contains the gallery name as the card header -->
    <header>{{name}}</header>
    <!-- The card contains the first painting of the gallery -->
    <img src="/images/{{painting.[0].filename}}" alt="{{painting.[0].description}}">
  </a>
</section>